[submodule "lib/loan"]
	path = lib/loan
	url = https://github.com/maple-labs/loan.git
[submodule "lib/contract-test-utils"]
	path = lib/contract-test-utils
	url = https://github.com/maple-labs/contract-test-utils.git
[submodule "lib/debt-locker"]
	path = lib/debt-locker
	url = https://github.com/maple-labs/debt-locker.git
